p{
    color:blue;/* 文字顏色 */
    background-color:rgb(222, 243, 238);/* 背景顏色 */
    border: 2px solid rgb(199, 206, 246);/* 邊框造型與顏色 */
    padding: 20px;/* 文字與邊框的距離 */
    margin: 30px;/* 外框與其它文本的距離 */
}

T{
    background-color:rgb(222, 243, 238);/* 背景顏色 */
}

.T{
    font-size:30px;
    color:#8080C0;
}

Tbox{
    width: 80px;
    height: 80px;
    background-color: aqua;
}
