
T{ /*字體*/
    font-family:"微軟正黑體";
}

.Central_layout{ /*中央主畫布*/
    height:100%;
    background-color:rgb(222, 243, 238);/* 背景顏色 */
    border: 2px solid rgb(199, 206, 246);/* 邊框造型與顏色 */
    padding: 20px;/* 文字與邊框的距離 */
    margin: 0px 10%;/* 外框與其它文本的距離 */
}

.Titel_text{ /*標題字體*/
    background-color:rgb(222, 243, 238);/* 背景顏色 */
    font-size:30px;
    color:#8080C0;
}

.Box_image{
    float: left;
    text-align:center;
    width:50%;
}

.Box_image_Titel{
    font-weight:bold;
    font-size:30px;
    color: rgb(231, 80, 80);
}

